.container{
    display: flex;
    justify-content: center;
   }
   table{
    border-collapse: collapse;
    border: 2px solid salmon;
    letter-spacing: 1.5rem;
    background-color: rgb(236, 108, 147);

   }
   th{
    border: 1px solid grey;
    padding: 10px;
    background-color: darkred;
   }
   td{
    border: 1px solid grey;
    padding: 10px;
   }